/* ------------- sample images page -------------------- */

@import "compass/css3";

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #616161;
    background-repeat: no-repeat;
    @include filter-gradient(#53455b, #201e22, horizontal);
    @include background-image(radial-gradient(circle at top, rgba(83, 69, 91, 1) 0, rgba(32, 30, 34, 1) 70%));
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    min-height: 100%;
    line-height: 1.5;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.framePhotos {
    border: 2px solid #5d4e65;
    min-height: 400px;
    padding: 1.25em;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;
    background-image: url(../images/IMG_0108.JPG);

    @media screen and (min-width: 700px) {
        & {
            float: left;
            width: 50%;
        }
        &:nth-child(odd) {
            clear: left;
        }
    }

    @media screen and (min-width: 800px) {
        & {
            width: 33.3333333%;
        }
        &:nth-child(3n+1) {
            clear: left;
        }
        &:nth-child(odd) {
            clear: none;
        }
    }

    @media screen and (min-width: 1120px) {
        & {
            width: 20%;
        }
        &:nth-child(odd),
        &:nth-child(3n+1) {
            clear: none;
        }
    }

}

.framePhotos:hover {
    @include filter-gradient(#53455b, #201d22, vertical);
    @include background-image(linear-gradient(top, rgba(83, 69, 91, 1) 0%, rgba(32, 29, 34, 1) 100%));
    border-top: 2px solid #ec7a37;
    border-bottom: 2px solid #ff4f69;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    transform: scale(1.025);
    z-index: 2;
    background-color: rgba(50, 50, 50, 1);

    &:before,
    &:after {
        content: "";
        position: absolute;
        background-color: rgb(246, 125, 53);
        @include filter-gradient(#f67d35, #ff4f68, vertical);
        @include background-image(linear-gradient(top, rgba(246, 125, 53, 1) 0%, rgba(255, 79, 104, 1) 100%));
        top: -2px;
        bottom: -2px;
        width: 2px;
    }

    &:before {
        left: -2px;
    }
    &:after {
        right: -2px;
    }

    & .button {
        background-color: rgb(238, 122, 54);
        @include filter-gradient(#ee7a36, #eb495d, horizontal);
        @include background-image(linear-gradient(left, rgba(238, 122, 54, 1) 0%, rgba(235, 73, 93, 1) 100%));
    }
}

h2,
h3,
p,
ul {
    margin: 0
}

h2 {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 0.5em;
}

h3 {
    font-size: 1.5em;
    letter-spacing: 0.0625em;
    margin: 0 0 0.3333333333333333em;
}

p {
    font-size: 0.875em;
}

p,
ul {
    margin: 0 0 1.5em
}

ul {
    color: #cec5d3;
    font-size: 0.75em;
    list-style-type: none;
    padding: 0;

    li {
        margin: 0 0 0.8333333333333333em;
    }
}

.button {
    border-radius: 20px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    padding: 3px 0;
    top: 1.25em;
    right: 5%;
    margin-left: -60px;
    text-decoration: none;
    width: 50px;
}

.uppercase,
.button,
h2 {
    text-transform: uppercase;
}

sup,
.small {
    font-size: 0.6125em;
}

.fa-2x {
    color: dimgray;
}


.grid-1-5 {
    background-image: url(../images/zürich03-Copy.JPG);
    filter: sepia(80%);
    text-align: left;
}

.grid-2-5 {
    background-image: url(../images/zürich01-Copy.JPG);
    filter: sepia(80%);
    text-align: left;
}

.grid-3-5 {
    background-image: url(../images/zürich02-Copy.JPG);
    filter: sepia(80%);
    text-align: left;
}

.grid-4-5 {
    background-image: url(../images/kolnvelo-Copy.JPG);
    filter: sepia(80%);
    text-align: left;
}

.grid-5-5 {
    background-image: url(../images/701A7899222-Copy.jpg);
    filter: sepia(80%);
    text-align: left;
    color: black;
}

.grid-5-5 ul {
    color: black;
}
